$linkColor: #B3B3B1;

#about-content{

  @include webkitAcceleration();
  @include flex(1);
  @include flexbox();
  @include alignItem(center);
  @include justifyContent(center);
  @include size(100%);

  @include transition( all, 0.5s);
  opacity: 0;


  @include respond-to(mobile-screens){
    padding-left: 5px;
    padding-right: 5px;
  }
  @include respond-to(medium-screens){
    padding-left: 30px;
    padding-right: 30px;
  }
  @include respond-to(wide-screens){
    padding-left: 60px;
    padding-right: 60px;
  }

  .name{
    letter-spacing: 2px;
    font-size: 48px;
    font-weight: 800;

    margin-bottom: 60px;
  }

  .sns{
    text-align: center;
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 300;

    a{
      color: $linkColor;
      text-decoration: none;

      &:hover{
        text-decoration: line-through;
      }
    }

  }

}