// =======================

$break-small : 320px;
$break-large : 1024px;
$MAX_WIDTH   : 1260px;


// =======================


@mixin size( $width, $height: null){
	@if $width != null  { width  : $width; }
	@if $height != null { height : $height; }
	@else 				{ height : $width; }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin flex($values){
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin alignItem($value){
  align-items: $value;
  -webkit-align-items: $value;
}

@mixin justifyContent($value){
  justify-content: $value;
  -webkit-justify-content: $value;
}

@mixin webkitAcceleration(){
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

@mixin respond-to($media) {

  @if $media == mobile-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large ) and (max-width: $MAX_WIDTH - 1) { @content; }
  }
  @else if $media == max-screens {
    @media only screen and (min-width: $MAX_WIDTH){ @content; }
  }

}