$linkColor: #B3B3B1;

#post-content{

  @include respond-to(mobile-screens){ padding-top: 40px; }
  @include respond-to(medium-screens){ padding-top: 60px; }
  @include respond-to(wide-screens)  { padding-top: 100px; }
  @include respond-to(max-screens)   { padding-top: 100px; }

  opacity: 0;
  @include transition( opacity, 0.5s);

  .title{
    margin-bottom: 80px;
	

    h2{
      font-weight : 800;
      font-size   : 32px;
      margin-bottom: 10px;
    }

    p{
      font-size: 16px;
      font-weight: 300;
    }
  }

  .post{

    .wrapper{
      min-width: 300px;
      width: 100%;
      canvas{
        width: 100%;
      }
    }

    margin-bottom: 100px;

    h3, h2, h1{
      margin-top: 120px;
      font-size: 22px;
      font-weight: 800;
      margin-bottom: 40px;
    }

    ul{
      li{
        font-size: 16px;
        margin-bottom: 8px;
		font-weight: 300;
		line-height: 1.2em;

        a{
		  line-height: 1.5em;
          text-decoration: none;
          font-weight: 400;
          color: $linkColor;
          &:hover{
            text-decoration: line-through;
          }
        }
      }
    }

    p{
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5em;
      margin-bottom: 40px;

      a{
        font-weight: 400;
        text-decoration: none;
        color: $linkColor;
        &:hover{
          text-decoration: line-through;
        }
      }

      pre{
        width: 100%;
      }

      code{
        color: #666666;
        font-weight : 800;
        margin-left : 5px;
        margin-right: 5px;
        width: 100%;
      }

      img{
        margin-top: 10px;
        max-width: 600px;
        width: 100%;

        height: auto;
        margin-bottom: -20px;
      }

	  strong{
		  font-weight: 800;
	  }

    }

    .highlight{
      background: rgba(0, 0, 0, 0.05);
      font-weight: 400;
      
      @include respond-to(mobile-screens){ padding: 10px; }
      @include respond-to(medium-screens){ padding: 20px; }
      @include respond-to(wide-screens)  { padding: 30px; }
      @include respond-to(max-screens)   { padding: 30px; }
      margin-bottom: 50px;

      pre{
        width: 100%;
        code{
          width: 100%;
          overflow: auto;
          word-wrap:break-word;

          span{
            font-size: 14px;
            line-height: 1.4em;
          }
        }
      }
    }

  }


}
