/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "custom";

// =======================

$default-color: #333332;
$break-small : 320px;
$break-large : 1024px;
$MAX_WIDTH   : 1140px;

// =======================

* {
  @include box-sizing(border-box);
}

body, html {
  @include size(100%);

  font-family: 'Open Sans', sans-serif;
  color: $default-color;
}

#main-wrapper {
  @include size(100%);
  -ms-flex-preferred-size: auto;
}

  #main-nav {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    @include transition( height, .6s);

    &.open{@include size(100%, 100%);}

    &.close{

      @include respond-to(mobile-screens){ @include size(100%, 35px); }
      @include respond-to(medium-screens){ @include size(100%, 50px); }
      @include respond-to(wide-screens)  { @include size(100%, 60px); }
      @include respond-to(max-screens)   { @include size(100%, 60px); }

    }
  }

    #main-nav-wrapper{
      position: relative;
      @include size(100%);
    }

      #nav-list {
        background: rgb(33, 33, 33);

        @include webkitAcceleration();
        @include flex(1);
        @include flexbox();
        @include alignItem(center);
        @include justifyContent(center);

        @include size(100%);
        @include transition(opacity, .3s .1s);
        @include perspective(600px);

        & .display-none {
          display: none;
        }

        .open & {
          opacity: .8;
        }

        .close & {
          opacity: 0;
        }



        ul {
          @include webkitAcceleration();

          li {
            margin: 40px 0;
            font-weight: 700;
            font-size: 48px;
            text-align: center;

            &:before {
              content: '';
              position: absolute;
              background: #ffff00;
              top: 0;
            }

            &.selected {
              a {
                text-decoration: line-through;
                cursor: default;
              }
            }

            span {
              color: #ffffff;
              cursor: default;
              text-decoration: line-through;
            }

            a {
              text-decoration: none;
              color: #ffffff;

              &:hover {
                text-decoration: line-through;
              }

            }
          }
        }

      }

      #nav-icon {
        cursor: pointer;

        @include respond-to(mobile-screens){ top: 10px; right: 5px; position: absolute;}
        @include respond-to(medium-screens){ top: 20px; right: 30px; position: absolute;}
        @include respond-to(wide-screens)  { top: 30px; right: 60px; position: absolute;}
        @include respond-to(max-screens)   { width: 100%; position: absolute; top: 0; left: 0;
          .max-width-container{ width: 1020px; margin: auto;
            svg{ float : right; margin-top : 30px; }
          }
        }
      }



  .main-content{
    @include respond-to(mobile-screens){ margin-left: 10px; margin-right: 10px;}
    @include respond-to(medium-screens){ margin-left: 30px; margin-right: 30px; }
    @include respond-to(wide-screens){ margin-left: 60px; margin-right: 60px; }
    @include respond-to(max-screens){ width: 1020px; margin: auto; }
  }




@import "home";
@import "post";
@import "about";
