<div id="main-nav" class="close">

    <div id="main-nav-wrapper">
        <div id="nav-list">
            <ul id="nav-ul">
                <li id="li-home">
                    {% if page.tags == 'home' %}
                        <span class="selected">HOME</span>
                    {% else %}
                        <a href="/" data-attribute="home" class="selected">HOME</a>
                    {% endif %}
                </li>
                <li id="li-about">
                    {% if page.tags == 'about' %}
                        <span class="selected">ABOUT</span>
                    {% else %}
                        <a href="/about" data-attribute="about">ABOUT</a>
                    {% endif %}
                </li>
                <li id="li-category">
                    {% if page.tags == 'category' %}
                        <span class="selected">CATEGORY</span>
                    {% else %}
                        <a href="/category" data-attribute="category">CATEGORY</a>
                    {% endif %}
                </li>
                <!-- 
                <li id="li-archive">
                    {% if page.tags == 'archive' %}
                        <span class="selected">ARCHIVE</span>
                    {% else %}
                        <a href="/archive" data-attribute="archive">ARCHIVE</a>
                    {% endif %}
                </li>
                 -->
            </ul>
        </div>


        <div id="nav-icon">
            <div class="max-width-container">
            <svg id="nav-icon-svg"></svg>

            {% if page.tags == 'home' %}
                <div id="languages">
                        {% if page.categories == 'en' %}
                            <span class="language">En</span>
                        {% else %}
                            <a href="/" class="language">En</a>
                        {% endif %}

                        /

                        {% if page.categories == 'jp' %}
                            <span class="language">Jp</span>
                        {% else %}
                            <a href="/jp" class="language">Jp</a>
                        {% endif %}
                </div>
            {% endif %}
                
            </div>
        </div>



    </div>
</div>
