/* ==========================================================================
   Archives
   ========================================================================== */



.c-archives {
    margin-bottom: 10rem;
}

.c-archives__year {
    margin-bottom: 2.5rem;
    @include fs--heading-1;
}

.c-archives__list {
    margin-bottom: 2.5rem;
    list-style: none;
    display: flex;
    // display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.c-archives__item {
    // padding-top: 2.5rem;
    // padding-bottom: 2.5rem;
    
    // border-top: 1px solid #EFF1F3;
    // justify-content: space-evenly;
    width: 100%;

    &:hover{
        h3{
            color: $c-accent__blue-hover;
        }
    }

    @media screen and (min-width: 520px){
        
        
        // justify-content: space-between;
    }

    @media screen and (min-width: 780px){
        width: calc(33.33% - 10px);
        margin-right: 15px;
    }

    @media screen and (min-width: 520px) and (max-width: 779px) {
        width: calc(50% - 5px);
        margin-right: 10px;
    }

    &:nth-child(2n) {
        @media screen and (min-width: 520px) and (max-width: 779px) {
            margin-right: 0px;
        }
    }

    &:nth-child(3n) {
        @media screen and (min-width: 780px){
            margin-right: 0;
        }   
    }
    img{
        margin-bottom: 5px;
    }

    // width: 100%;

    margin-bottom: 20px;

    h3 {
        line-height: 1.5;
        font-size: 1.5rem; // 18px

     
        background-color: transparent;
        text-decoration: none;
        color: $c-accent__blue;
    }

    p {
        @include fs--body;
        color: #515862;
        font-size: 1.2rem;
    }
}
