<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" type="text/css" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <!-- <link rel="stylesheet" type="text/css" href="/css/vendor/flexbox-style.css"> -->

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>

    </head>
    <body>
        <main id="main-wrapper">
            <div class="main-nav">
                <div id="nav-icon">
                    <svg id="nav-icon-svg"></svg>
                </div>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">CATEGORY</a></li>
                    <li><a href="">ARCHIVE</a></li>
                </ul>

            </div>

        </main>

        <!--
        <main class="Site-content Container">
            <div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">
              <div class="grid-cell main-nav">
                <ul>
                  <li><a href="">HOME</a></li>
                  <li><a href="">ABOUT</a></li>
                  <li><a href="">CATEGORY</a></li>
                  <li><a href="">ARCHIVE</a></li>
                </ul>
              </div>
            </div>
        
            <div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">
            </div>

        </main>

        

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>

         -->

        <script src=""></script>

    </body>
</html>
